body{
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
  }
  
  .navbar-nav{
    margin-left: 100px;
  }
  
  .nav-item{
    padding-left: 15px;
  }
  
  
  #search{
    width: 350px;
  }
  
  #logo{
    font-family:cursive;
  }
  
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  
  #searchform input{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #searchform button{
    border: 0;
  }
  
  .nav-item a{
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  footer a{
    text-decoration: none;
    color: black;
  }
  
  .brand-name img{
    transition: 0.5s;
  }
  
  .brand-name img:hover {
    /* box-shadow: 0 0 55px rgba(7, 7, 8, 0.4); */
    box-shadow: 0 0 60px rgb(10, 0, 0);
    transform: scale(1.1);
  }
  
  .categories-image img{
    transition: 0.5s;
  }
  
  .categories-image img:hover{
    box-shadow: 0 0 60px rgb(10, 0, 0);
  }