<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">

{% load static %}


<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title> {{clutches.product_name}}</title>
	<meta content="" name="description">
	<meta content="Author" name="MJ Maraz">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:wght@300;400;500;600&family=Raleway:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
	<!-- Favicons -->
	<link href="assets/images/fabicon.png" rel="icon">
	<link href="assets/images/fabicon.png" rel="apple-touch-icon">
	<!-- ============== Plugin CSS Files ============== -->
     <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
     <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'CSS/fontawesome.css' %}">
     <link rel="stylesheet" href="{% static 'CSS/xzoom.min.css' %}">
     <link rel="stylesheet" href="{% static 'CSS/easyzoom.css' %}">

	  <script src="https://kit.fontawesome.com/0bfcbd3c76.js" crossorigin="anonymous"></script>

	<!-- Feather-Icons-->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>


<!--	Bootstrap 5 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>



	<script src="https://js.stripe.com/v3/"></script>


</head>
<style>
	.navbar-nav{
  margin-left: 100px;
}

.nav-link{
  padding-left: 20px;
}

.nav-item{
  padding-left: 15px;
}


#search{
  width: 350px;
 margin-left:2
 0px;
}

#logo{
  font-family:cursive;
  padding-left:20px;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

#searchform input{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#searchform button{
  border: 0;
}

.navbar a{
  color: black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

</style>
<!-- ============================= Design & Develop By = MJ MARAZ   =================================== -->
<body>

    {% include 'nav.html'%}



<!--	Breadcrump-->
	<nav style="--bs-breadcrumb-divider: '>'; padding-top:60px; padding-left:20px" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'jewel' %}">Jewellery</a></li>
    <li class="breadcrumb-item"><a href="{% url 'clutches_view' %}">gold Plated Set</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{clutches.product_name}}</li>
  </ol>
</nav>
	<!-- <<<<<<<<<  Header  = (End) <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

	<!-- ==========  X Zoom  = (Start) ======================================================= -->
	<section class="xzoom_part" style="margin-bottom:20px" >
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="xzoom_container">
						<img src="{{clutches.image.url}}" alt="" class="xzoom" id="xzoom-default">
						<div class="xzoom-thumbs">
							<a href="{{clutches.image.url}}">
								<img src="{{clutches.image.url}}" alt="" class="xzoom-gallery" width="80" xpreview="{{clutches.image.url}}">
							</a>
							<a href="{{ttes.image2.url}}">
								<img src="{{clutches.image2.url}}" alt="" class="xzoom-gallery" width="80">
							</a>
							<a href="{{clutches.image3.url}}">
								<img src="{{clutches.image3.url}}" alt="" class="xzoom-gallery" width="80">
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="xzoom_details">
						<h4>{{clutches.product_name}}</h4>
						<h3><i class="fa-solid fa-indian-rupee-sign"></i>{{clutches.price}}</h3>
						<p style="color:green">{{clutches.Discount}}off</p>
						<h5> M.R.P:<del><i class="fa-solid fa-indian-rupee-sign"></i>{{clutches.MRP}}</del> </h5>
						<p><i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
							904 Ratings & 80 Reviews
						</p>
						<h6>{{clutches.description}}</h6>

						<a href="#" onclick="alertFunction()" class="btn"> Add To Cart </a>
						<a href="#" onclick="alertFunction()" class="btn">Wishlist </a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ==========  X Zoom  = (End) ======================================================= -->
	<!-- ======================================================= -->

	  <script src="{% static 'JS/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
	  <script src="{% static 'JS/xzoom.min.js' %}"></script>
	  <script src="{% static 'JS/easyzoom.js' %}"></script>
	<!-- ======================================================== -->

   <script>
        feather.replace();


	    function alertFunction(){
        alert("Notice\n\nYou're not signed in! Please sign up or log in to your account to access this feature.");
       }
      </script>
</body>
</html>
</title>
</head>
<body>

</body>
</html>